<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.easy.system.company.mapper.CompanyInfoMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="companyInfoResultMap"
		type="com.easy.system.company.entity.CompanyInfo">
		<id column="COMPANY_ID" property="companyId" />
		<result column="CONTENT" property="content" />

	</resultMap>

	<!-- 代码生成器生成代码开始 -->

	<!-- 字段 -->
	<sql id="queryColumns">
		D.*
	</sql>

	<!-- 查询条件 -->
	<sql id="queryConditions">
		<where>
			D.IS_DEL=1 AND D.ENABLE=1
			<!--主键 -->
			<if test="param.companyId != null and param.companyId != ''">
				AND D.COMPANY_ID =#{param.companyId}
			</if>
			<!--简介 -->
			<if test="param.content != null and param.content != ''">
				AND D.CONTENT =#{param.content}
			</if>

		</where>
	</sql>

	<!--分页 -->
	<select id="queryCompanyInfoPage"
		resultType="com.easy.system.company.vo.CompanyInfoVo">
		SELECT
		<include refid="queryColumns" />
		FROM TD_COMPANY_INFO D
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME ASC
	</select>

	<!--查询所有 -->
	<select id="queryCompanyInfoAll"
		resultType="com.easy.system.company.vo.CompanyInfoVo">
		SELECT
		<include refid="queryColumns" />
		FROM TD_COMPANY_INFO D
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME ASC
	</select>

	<!--根据条件查询单个 -->
	<select id="queryCompanyInfoByCondition"
		resultType="com.easy.system.company.vo.CompanyInfoVo">
		SELECT
		<include refid="queryColumns" />
		FROM TD_COMPANY_INFO D
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME ASC LIMIT 1
	</select>
	<!-- 代码生成器生成代码结束 -->
</mapper>
