#app{
	background-color: $backgroundColor;
	.header-container{
		width:100%;
		.log{
			height: 61px;
			line-height: 61px;
			text-align: center;
			background-color: $backgroundColor;
			color:$white;
		}
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.content-container{
		background-color: $white;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 60px;
		left: 0px;
		
		.card-container{
			.box-card{
				margin: 12px;
				.box-card-header{
					text-align: left;
					span{
						float: right;
						font-size: 12px;
						color: #8A8DA6;
						cursor: pointer;
						i{
							color: red;
						}
					}
				}
				.box-card-item{
					font-size: 12px;
					text-align: left;
					color: #8A8DA6;
					padding: 10px;
				}
				.box-card-footer{
					padding: 10px;
					text-align: right;
					border-top: 1px solid #EBEEF5;
				}
			}
		}
	}
}