#app{
	.main-container{
		width:100%;
		height: 100%;
		margin-top: $logoNavHeight+$tagHeight;
		//margin-left: $sideBarWidth !important;
		padding-bottom: $logoNavHeight+$tagHeight;
		background:#fff;
		.el-scrollbar{
			height: 100%;
			padding: 5px;
		}
		.scrollbar-wrapper {
		  overflow-x: hidden !important;
		  .el-scrollbar__view{
			  height: 100%;
		  }
		}
	}

}