#app{
	.iframe-container{
		position: relative;
		width:100%;
		.iframe-mask{
			width:100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
		}
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	.taks-main-container{
		width:100%;
		height: 100%;
		background:#fff;
		.task-run{
			width: 100%;
			height: 2.5rem;
			line-height: 2.5rem;
			border-bottom: solid 1px #DDDDDD;
			.el-button{
				font-size: 12px;
			}
			font-size: 12px;
		}
		.splitpanes.default-theme .splitpanes__pane {
		    background-color: #fff;
		}
		.el-scrollbar{
			height: 100%;
			padding: 5px;
		}
		.el-form-item__label {
			font-size: 12px;
		}
		.el-input-number{
			.el-input__inner{
				text-align: left;
			}
		}
		.el-form-item__content {
			font-size: 12px;
		}
		.el-steps {
			margin-top: 1rem;
		}
		.el-step__title{
			font-size: 12px;
		}
		.step{
			margin-left: 5rem;
			margin-right: 5rem;
			font-size: 12px;
			margin-top: 2rem;

			.el-divider--horizontal{
				margin: 10px 0px;
			}
			.form-container{
				margin-left: 20rem;
				margin-right: 20rem;
			}
		}
		.task-setting {
			height: 100%;
			.el-tabs--right .el-tabs__header.is-right {
			    margin-left: 5px;
			}
			.el-tabs{
				height: 100%;
			}
			.el-tabs__item {
				width: 40px;
				font-size: 12px;
			     line-height: 20px;
			       height: auto;
			       word-wrap: break-word;
			       white-space: pre-line;
				   padding: 10px 10px;
			}
			.el-drawer__header {
				padding: 10px 10px 0;
				 margin-bottom: 10px;  
			}
			.el-card__header{
				padding: 10px;
				.clearfix{
					font-size: 12px;
					text-align: left;
					font-weight: bold;
				}
			}
			.el-card__body{
				background-color: #F5F5F5;
			}
		}
		
		.task-table{
			border-top: solid 1px #E8E8E8;
			border-left: solid 1px #E8E8E8;
			background-color: #fff;
			th{
				font-size: 12px;
				padding: 5px;
				border-right: solid 1px #E8E8E8;
				border-bottom: solid 1px #E8E8E8;
			}
			td{
				font-size: 12px;
				padding: 5px;
				border-right: solid 1px #E8E8E8;
				border-bottom: solid 1px #E8E8E8;
			}
			.text{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		
		.column-container{
			position: relative;
			/* 加上这句，防止连线位置发生错乱 */
			display: flex;
			
			/* 内容 */
			.content {
				flex-grow: 1;
				position: relative;
				box-sizing: border-box;
				background-color: #FFF;
				margin-top: 10px;
				.row {
					display: flex;
					flex-wrap: nowrap;
					margin-bottom: 10px;
					color: #333;
					font-size: 14px;
				}
				.dataCont {
					position: relative;
					justify-content: space-between;
				}
			}
			
		}
	}
	.task-mask{
		position: absolute;
		top: 0px; 
		left: 0px; 
		width: 100%; 
		height: 100%; 
		background: #ffff;
		z-index: 2000;
		opacity: 0.4;
		cursor: move;
	}
}

.datax-json{
		.el-dialog{
			.el-dialog__body{
				padding: 0px;
				.jsoneditor-menu{
					a{
						display: none;
					}
				}
			}
		}
	}
.log-container{
	position: relative;
	.resizeBar {
		background-color: #2C3E50;
	}
	
	.resizeBar.h {
		width: 100%;
		height: 5px;
	}
	
	.resizeBar.v:hover {
		cursor: col-resize
	}
	
	.resizeBar.h:hover {
		cursor: row-resize
	}
	
	.el-tabs__content {
		padding: 0px;
		height: 100%;
	}
	.log-close{
		position: absolute;
		top: 0px;
		right: 20px;
		height: 35px;
		line-height: 35px;
		a {
			font-size: 12px;
			color: blue;
		}
	}
}