<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.etl.projectTaskFlow.mapper.FlowJobParameterMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="flowJobParameterResultMap" type="com.easy.etl.projectTaskFlow.entity.FlowJobParameter">
        <id column="ID" property="id"/>
        <result column="FLOW_JOB_ID" property="flowJobId"/>
        <result column="TASK_ID" property="taskId"/>
        <result column="PARAM_KEY" property="paramKey"/>
        <result column="PARAM_VALUE" property="paramValue"/>
        <result column="PARAM_TYPE" property="paramType"/>
    </resultMap>


</mapper>
