<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.etl.projectTaskEvn.mapper.ProjectTaskEvnMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="projectTaskEvnResultMap" type="com.easy.etl.projectTaskEvn.entity.ProjectTaskEvn">
        <id column="ID" property="id"/>
        <result column="TASK_ID" property="taskId"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="LAYER_ID" property="layerId"/>
        <result column="JVM_SIZE" property="jvmSize"/>
        <result column="ALLOW_EDIT" property="allowEdit"/>
        <result column="ALLOW_DELETE" property="allowDelete"/>
        <result column="ENABLE" property="enable"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="ADD_TIME" property="addTime"/>
        <result column="ADD_USER_ID" property="addUserId"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER_ID" property="updateUserId"/>
        <result column="VERSION" property="version"/>
        <result column="SHOW_ORDER" property="showOrder"/>

    </resultMap>


</mapper>
