<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.etl.projectWorkSpace.mapper.ProjectWorkSpaceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="projectWorkSpaceResultMap" type="com.easy.etl.projectWorkSpace.entity.ProjectWorkSpace">
        <id column="WORK_SPACE_ID" property="workSpaceId"/>
        <result column="WORK_SPACE_NAME" property="workSpaceName"/>
        <result column="WORK_SPACE_TYPE" property="workSpaceType"/>
        <result column="ALLOW_EDIT" property="allowEdit"/>
        <result column="ALLOW_DELETE" property="allowDelete"/>
        <result column="ENABLE" property="enable"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="ADD_TIME" property="addTime"/>
        <result column="ADD_USER_ID" property="addUserId"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER_ID" property="updateUserId"/>
        <result column="VERSION" property="version"/>
        <result column="SHOW_ORDER" property="showOrder"/>

    </resultMap>

    <!-- 代码生成器生成代码开始 -->

    <!-- 字段 -->
    <sql id="queryColumns">
        D.*,D1.NAME AS WORK_SPACE_TYPE_NAME
    </sql>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            D.IS_DEL=1 AND D.ENABLE=1
            <!--主键-->
            <if test="param.workSpaceId != null and param.workSpaceId != ''">
                AND D.WORK_SPACE_ID =#{param.workSpaceId}
            </if>
            <!--名称-->
            <if test="param.workSpaceName != null and param.workSpaceName != ''">
                AND D.WORK_SPACE_NAME =#{param.workSpaceName}
            </if>
            <!--与字典表关联code=WORK_SPACE_TASK_TYPE-->
            <if test="param.workSpaceType != null and param.workSpaceType != ''">
                AND D.WORK_SPACE_TYPE =#{param.workSpaceType}
            </if>
            <!--用户 -->
            <if test="param.addUserId != null and param.addUserId != ''">
                AND D.ADD_USER_ID =#{param.addUserId}
            </if>
            <if test="param.queryProjectId != null and param.queryProjectId != ''">
                AND D.WORK_SPACE_ID IN(SELECT DISTINCT WORK_SPACE_ID FROM TF_PROJECT_WORK_SPACE_LAYER_REL WHERE PROJECT_ID=#{param.queryProjectId})
            </if>
        </where>
    </sql>


    <!--查询所有-->
    <select id="queryProjectWorkSpaceAll" resultType="com.easy.etl.projectWorkSpace.vo.ProjectWorkSpaceVo">
        SELECT
        <include refid="queryColumns"/>
        FROM TF_PROJECT_WORK_SPACE D LEFT JOIN TD_DICT_VALUES D1 ON D1.DICT_CODE='WORK_SPACE_TASK_TYPE' AND D.WORK_SPACE_TYPE=D1.VALUE
        <include refid="queryConditions"/>
        ORDER BY D.SHOW_ORDER DESC,D.ADD_TIME DESC
    </select>


</mapper>
