<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.etl.batchTask.batchProjectLayerTaskRead.mapper.BatchProjectLayerTaskReadMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="batchProjectLayerTaskReadResultMap"
               type="com.easy.etl.batchTask.batchProjectLayerTaskRead.entity.BatchProjectLayerTaskRead">
        <id column="READ_ID" property="readId"/>
        <result column="TASK_ID" property="taskId"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="IS_HIVE" property="isHive"/>
        <result column="DB_SOURCE_ID" property="dbSourceId"/>
        <result column="SCHEAM" property="scheam"/>
        <result column="TABLE_NAME" property="tableName"/>
        <result column="QUERY_CONDITION" property="queryCondition"/>
        <result column="SPLIT_PK" property="splitPk"/>

    </resultMap>
    <select id="queryBatchProjectLayerTaskRead"
            resultType="com.easy.etl.batchTask.batchProjectLayerTaskRead.vo.BatchProjectLayerTaskReadVo">
        SELECT
            D.DB_SOURCE_ID,
            D.DB_SCHEMA,
            D.DB_CATALOG,
            D.TABLE_NAME,
            D.QUERY_CONDITION,
            D.IS_HIVE,
            D.FETCH_SIZE,
            D.PT,
            D.TABLE_PATH,
            D1.JDBC_URL,
            D1.USER_NAME,
            D1.PASSWORD,
            D1.DEFAULT_FS,
            D1.HAVE_KERBEROS,
            D1.KERBEROS_KEYTAB_FILE_PATH,
            D1.KERBEROS_PRINCIPAL,
            D1.FILE_TYPE,
            D1.IS_CONN,
            D1.JDBC_DRIVE,
            D2.SOURCE_TYPE,
            D2.SOURCE_TYPE_CODE
        FROM
            TF_BATCH_PROJECT_LAYER_TASK_READ D
                LEFT JOIN TD_DB_SOURCE D1 ON D.DB_SOURCE_ID=D1.DB_SOURCE_ID
                LEFT JOIN TD_DB_SOURCE_TYPE D2 ON D1.SOURCE_TYPE_ID=D2.SOURCE_TYPE_ID
        WHERE
            D.TASK_ID = #{taskId}
    </select>

</mapper>
