<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.easy.system.file.mapper.UserResourcesMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="userResourcesResultMap"
		type="com.easy.system.file.entity.UserResources">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PARENT_ID" property="parentId" />
		<result column="IS_FOLDER" property="isFolder" />
		<result column="FILE_ID" property="fileId" />
		<result column="FULL_PATH" property="fullPath" />
		<result column="COMPANY_ID" property="companyId" />
		<result column="ORG_ID" property="orgId" />
		<result column="ALLOW_EDIT" property="allowEdit" />
		<result column="ALLOW_DELETE" property="allowDelete" />
		<result column="ENABLE" property="enable" />
		<result column="IS_DEL" property="isDel" />
		<result column="ADD_TIME" property="addTime" />
		<result column="ADD_USER_ID" property="addUserId" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER_ID" property="updateUserId" />
		<result column="VERSION" property="version" />
		<result column="SHOW_ORDER" property="showOrder" />

	</resultMap>

	<!-- 代码生成器生成代码开始 -->

	<!-- 字段 -->
	<sql id="queryColumns">
		D.*,
		D1.SAVE_FOLDER,
		D1.SAVE_NAME,
		D1.FILE_SIZE,
		D1.SUFFIX,
		D1.MD5,
		D1.IS_SYSTEM
	</sql>

	<!-- 查询条件 -->
	<sql id="queryConditions">
		<where>
			D.IS_DEL=1 AND D.ENABLE=1
			<!--名称 -->
			<if test="param.name != null and param.name != ''">
				AND D.NAME =#{param.name}
			</if>
			<!--上级ID -->
			<if test="param.parentId != null and param.parentId != ''">
				AND D.PARENT_ID =#{param.parentId}
			</if>
			<!--0:文件夹1:图片,2:音频,3:视频,4:文件 -->
			<if test="param.sourceType != null and param.sourceType != ''">
				AND D.SOURCE_TYPE =#{param.sourceType}
			</if>
			<!--文件ID,IS_FOLDER=0时有效 -->
			<if test="param.fileId != null and param.fileId != ''">
				AND D.FILE_ID =#{param.fileId}
			</if>
			<!--全路径 -->
			<if test="param.fullPath != null and param.fullPath != ''">
				AND D.FULL_PATH =#{param.fullPath}
			</if>
			<!--启用:0未启用,1:启用 -->
			<if test="param.enable != null">
				AND D.ENABLE =#{param.enable}
			</if>
			<!--显示排序 -->
			<if test="param.showOrder != null">
				AND D.SHOW_ORDER =#{param.showOrder}
			</if>

			<if test="param.id != null and param.id != ''">
				AND D.ID =#{param.id}
			</if>
			<!--归属企业 -->
			<if test="param.companyId != null and param.companyId != ''">
				AND D.COMPANY_ID =#{param.companyId}
			</if>
			<!--归属机构 -->
			<if test="param.orgId != null and param.orgId != ''">
				AND D.ORG_ID =#{param.orgId}
			</if>

			<if
				test="param.queryFileTypes != null and param.queryFileTypes.size>0">
				AND SOURCE_TYPE IN
				<foreach collection="param.queryFileTypes" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>

		</where>
	</sql>

	<!--分页 -->
	<select id="queryUserResourcesPage"
		resultType="com.easy.system.file.vo.UserResourcesVo">
		SELECT
		<include refid="queryColumns" />
		FROM TF_USER_RESOURCES D LEFT JOIN TD_FILE_INFO D1 ON D.FILE_ID =
		D1.FILE_ID
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME DESC
	</select>

	<!--查询所有 -->
	<select id="queryUserResourcesAll"
		resultType="com.easy.system.file.vo.UserResourcesVo">
		SELECT
		<include refid="queryColumns" />
		FROM TF_USER_RESOURCES D LEFT JOIN TD_FILE_INFO D1 ON D.FILE_ID =
		D1.FILE_ID
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME DESC
	</select>

	<!--根据条件查询单个 -->
	<select id="queryUserResourcesByCondition"
		resultType="com.easy.system.file.vo.UserResourcesVo">
		SELECT
		<include refid="queryColumns" />
		FROM TF_USER_RESOURCES D LEFT JOIN TD_FILE_INFO D1 ON D.FILE_ID =
		D1.FILE_ID
		<include refid="queryConditions" />
		ORDER BY D.ADD_TIME DESC LIMIT 1
	</select>
	<!-- 代码生成器生成代码结束 -->
</mapper>
